/*---------- GENERAL ----------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	/* background: url('http://i.imgur.com/ol33ASV.jpg') no-repeat 50% 50%; // Source http://unsplash.com/post/93258562329/download-by-roland-batke-mutschler */
	-webkit-background-size: cover;
	background-size: cover;
	font: 400 1em/1.5em 'Raleway', sans-serif;
	margin: 0;
	
}

a {
	text-decoration: none;
}

/*---------- UTILITIES ----------*/
.clear {
	*zoom: 1; &: before , & : after {   
		   content : ' ';
	display: table;
}

&
:after {
	clear: both;
}

}
.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*---------- PROFILE_CARD ----------*/
.profile-card {
	background-color: #fff;
	bottom: 0;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	color: #555;
	height: 25em;
	left: 0;
	margin: auto;
	max-width: 32em;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	a
	{
	color
	:
	#555;
}

img {
	border: 3px solid #ddd;
	border-radius: 50%;
	background-clip: padding-box;
	margin: 5em 0;
}

h1 {
	color: #000;
	font-size: 2em;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25em;
	line-height: 1.2em;
	margin: 0 0 4em 0;
}

.btn {
	border: 1px solid #ddd;
	display: block;
	margin: 0 auto 2em auto;
	padding: .5em 0;
	text-transform: uppercase;
	width: 90%;
}


}